{% extends 'base.html.twig' %}

{% block title %}Hello MatiereController!{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/note.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container">
        <table border="1">
            <tr>
                <th>{{ 'matieres.nom'|trans }}</th>
                <th>Coefficient</th>
                <th>Action</th>
            </tr>
        {% for element in matieres %}
            <tr>
                <td>{{ element.nom }}</td>
                <td>{{ element.coefficient }}</td>
                <td><button class="action_btn"><a href= {{path('matiere', {'id': element.id})}}>{{ 'matieres.action'|trans }}</a></button></td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {{form(ajout)}}
{% endblock %}
