{% extends 'base.html.twig' %}

{% block title %}Hello MatiereController!{% endblock %}

{% block body %}

    <div class="container">
        <div>
            <p>{{ matiere.nom }}</p>
            <p>{{ matiere.coefficient }}</p>
            <button><a href= "{{path('matiere_supprimer', {'id': matiere.id})}}">{{ 'matiere.button'|trans }}</a></button>
        </div>
    </div>
    {{form(ajout)}}
{% endblock %}
